:root {
  --clr-primary: rgb(13, 110, 253);
  --clr-primary-opa: rgba(13, 109, 253, 0.4);
  --clr-secondary: rgb(108, 117, 125);
  --clr-secondary-opa: rgba(108, 117, 125, 0.4);
  --clr-success: rgb(25, 135, 84);
  --clr-success-opa: rgba(25, 135, 84, 0.4);
  --clr-info: rgb(13, 202, 240);
  --clr-info-opa: rgba(13, 202, 240, 0.4);
  --clr-warning: rgb(255, 193, 7);
  --clr-warning-opa: rgba(255, 193, 7, 0.4);
  --clr-danger: rgb(220, 53, 69);
  --clr-danger-opa: rgba(220, 53, 70, 0.4);
  --clr-light: rgb(255, 255, 255);
  --clr-dark: rgb(29, 30, 37);

  --ff-primary: 'Poppins', sans-serif;;
  --ff-secondary: 'Open Sans', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --f2-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-paragraph: var(--fs-600);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}

/*==================== css reset ====================*/
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*==================== general styling ====================*/
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-dark);
  background: var(--clr-light);
}
p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}
p[data-width="wide"] {
  max-width: 42ch;
}


/*==================== utility classes ====================*/
.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.text-primary {
  color: var(--clr-primary);
}
.text-secondary {
  color: var(--clr-secondary);
}
.text-success {
  color: var(--clr-success);
}
.text-info {
  color: var(--clr-info);
}
.text-warning {
  color: var(--clr-warning);
}
.text-danger {
  color: var(--clr-danger);
}
.text-light {
  color: var(--clr-light);
}
.text-dark {
  color: var(--clr-dark);
}

.bg-primary {
  background-color: var(--clr-primary);
}
.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-success {
  background-color: var(--clr-success);
}
.bg-info {
  background-color: var(--clr-info);
}
.bg-warning {
  background-color: var(--clr-warning);
}
.bg-danger {
  background-color: var(--clr-danger);
}
.bg-light {
  background-color: var(--clr-light);
}
.bg-dark {
  background-color: var(--clr-dark);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-paragraph {
  font-size: var(--fs-paragraph);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.display-sm-none {
  display: none;
}
@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

